<section class="search-section">
  <div class="container">
    <div class="row">
      <div class="search-header">
        <h1>Search</h1>
      </div>
      <div class="search-bar">
        <div class="search-type">
          <label>
            <input type="radio" name="search_type" value="pokemon" checked />
            Pokémon
          </label>
          <label>
            <input type="radio" name="search_type" value="item" />
            Item
          </label>
        </div>
        <input
          type="text"
          id="search_input_field"
          placeholder="Search for ANY Pokémon or Item by name or ID# ..."
        />
        <button type="submit" id="search_button">Search</button>
        <button type="submit" id="random-pokemon-btn">Random Pokémon</button>
      </div>
    </div>
    <div class="type-buttons">
      {{#each types}}
        <button class="type-btn" data-type="{{this}}">{{this}}</button>
      {{/each}}
    </div>
  </div>
</section>
<div id="pokemon-container"></div>
<div id="item-container"></div>
<script type="text/javascript" src="/js/search.js"></script>
<div id="default-cards">
  {{#each results}}
    <div class="card pokemon-card {{this.first_type}}" width="18rem">
      <img class="card-img-top" alt="Card image cap" src="{{this.img_url}}" />
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text type">Type(s): {{this.types_string}}</p>
      </div>
      <ul class="list-group list-group-flush" id="pokemon_description">
        <li class="list-group-item stats">HP: {{this.hp}}</li>
        <li class="list-group-item stats">Attack: {{this.attack}}</li>
        <li class="list-group-item stats">Defense: {{this.defense}}</li>
        <li class="list-group-item stats">Special Attack:
          {{this.special_attack}}</li>
        <li class="list-group-item stats">Special Defense:
          {{this.special_defense}}</li>
        <li class="list-group-item stats">Speed: {{this.speed}}</li>
      </ul>
    </div>
  {{/each}}
</div>